h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-family: sans-serif;
    text-align: justify;
    padding: 5px
}

img {
    display: block;
    width: 60%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
}

figcaption {
    text-align: center
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 70%
}

body {
    background-color: beige
}

footer {
    font-family: sans-serif;
    text-align: justify;
    font-size: 12px;
}